body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
}

.offres-container {
    display: flex;
    justify-content: space-between;
}

.offre {
    flex: 0 1 calc(30% - 25px);
    background-color: #333;
    padding: 25px;
    margin: 50px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.offre h3 {
    color: #ffffff;
}

.offre p {
    color: #ffffff;
    margin-bottom: 15px;
}

.offre button {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.offre button:hover {
    background-color: #45a049;
}

.offre-image {
    border-radius: 50%; /* Bords arrondis pour l'image */
    max-width: 100%; /* Assure que l'image ne dépasse pas la largeur du conteneur */
    height: auto; /* Ajuste la hauteur en fonction de la largeur pour éviter la distorsion */
    margin-bottom: 15px; /* Espacement entre l'image et le reste du contenu */
    max-height: 200px; /* Ajoute une hauteur maximale pour uniformiser la taille des images */
}


.fond-offre {
    background-color: #333;
}

.form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form label {
    display: block;
    margin-bottom: 8px;
}

.form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form button {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form button:hover {
    background-color: #45a049;
}


.swiper-container {
    width: 70%;
    margin: 20px auto 50px; /* Ajuste la marge basse pour augmenter la distance avec le bas de la page */
}

.swiper-slide {
    height: 300px;
    margin-bottom: 20px; /* Ajuste la marge basse pour augmenter la distance entre les images */
}

.carousel-image {
    max-width: 100%;
    max-height: 300px;
    object-fit: cover;
    border-radius: 8px;
    margin: 0 auto;
    display: block;
}

.swiper-button-next, .swiper-button-prev {
    top: 50%; /* Positionne les flèches verticalement au centre du carrousel */
    transform: translateY(-50%); /* Ajuste la position verticale en fonction de la hauteur des flèches */
}

.swiper-button-next {
    right: 10px; /* Ajuste la position horizontale de la flèche droite */
}

.swiper-button-prev {
    left: 10px; /* Ajuste la position horizontale de la flèche gauche */
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centrer verticalement le contenu */
    align-items: center; /* Centrer horizontalement le contenu */
    background: linear-gradient(to right, #333, #6f08aa);
    color: #fff;
    text-align: center;
    padding: 1em;
}


.logo {
    max-width: 100px;
    height: auto;
    margin-right: 10px;
}

h1 {
    margin: 0; /* Supprime la marge par défaut du titre */
}

header {
    background: linear-gradient(to right, #333, #6f08aa);
    color: #fff;
    text-align: center;
    padding: 1em;
}

header h1 {
    display: inline-block;
    padding: 10px;
    border: 2px solid #fff;
    border-radius: 5px;
    margin: 15px 0;
}

nav {
    margin-top: 10px;
    flex: 1;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    padding: 8px 16px;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #555;
}

.fond {
    background-image: url(../img/fond.jpg);
    background-size: cover;
}

section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    border-radius: 30px;
}



section h2 {
    margin-bottom: 10px;
}

section p {
    margin-bottom: 20px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background: linear-gradient(to right, #333, #2141a8); /* Utilisation d'un dégradé de couleur similaire */
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.button:hover {
    background: linear-gradient(to right, #555, #777); /* Changement de couleur au survol */
}

footer {
    text-align: center;
    padding: 1em;
    background-color: #333;
    color: #fff;
    margin-top: auto; /* Ce paramètre maintient le pied de page en bas */
}